*.*
*
!*/
!/nemu/*
!/nexus-am/*
!/nanos-lite/*
!/navy-apps/*
!/npc/*
!Makefile
!README.md
!.gitignore
!init.sh
!AGENTS.md

/fceux-am
/nvboard
/am-kernels

/npc/.config
/npc/.config.old
/npc/include/config/
/npc/include/generated/
/archbench
