CONFIG_ISA_riscv=y
# CONFIG_RV64 is not set
# CONFIG_RVE is not set
CONFIG_ENGINE_INTERPRETER=y
CONFIG_MODE_SYSTEM=y
# CONFIG_TARGET_NATIVE_ELF is not set
CONFIG_TARGET_SHARE=y
# CONFIG_TARGET_AM is not set
CONFIG_CC_GCC=y
CONFIG_CC_O2=y
# CONFIG_WATCHPOINT is not set
# CONFIG_TRACE is not set
CONFIG_MBASE=0x20000000
CONFIG_MSIZE=0x1000
CONFIG_YSYXSOC_MEMORY=y
CONFIG_YSYXSOC_SDRAM_128MB=y
CONFIG_PMEM_MALLOC=y
# CONFIG_MEM_RANDOM is not set
# CONFIG_DEVICE is not set
CONFIG_TIMER_GETTIMEOFDAY=y
CONFIG_RT_CHECK=y
