# CONFIG_NPC_PLATFORM_DIRECT is not set
CONFIG_NPC_PLATFORM_YSYXSOC=y
# CONFIG_NPC_YSYXSOC_BOOT_MROM is not set
CONFIG_NPC_YSYXSOC_BOOT_FLASH=y
# CONFIG_NPC_YSYXSOC_SDRAM_32MB is not set
# CONFIG_NPC_YSYXSOC_SDRAM_64MB is not set
CONFIG_NPC_YSYXSOC_SDRAM_128MB=y
# CONFIG_NPC_YSYXSOC_CHIPLINK is not set
CONFIG_NPC_DIFFTEST=y
CONFIG_NPC_DIFFTEST_REF_PATH="../nemu/build/riscv32-nemu-interpreter-so"
# CONFIG_NPC_ITRACE is not set
# CONFIG_NPC_MTRACE is not set
# CONFIG_NPC_FTRACE is not set
